.html2canvas-container { width: 1200px !important; height: 1200px !important; }

.grafo-panel {
	width: 100%;
	height: calc(100vh - 150px);
	border: 1px solid var(--colorPrimary);
	border-radius: 5px;
}

.grafo-toolbar {
	padding: 10px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.botao {
	display: inline-block;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.modal-dialog{
	max-width: none!important;
	margin: 2% 5% 2% 5%;
}