.html2canvas-container { 
	width: none !important; 
	height: none !important;
}

.grafo-panel {
	width: 100%;
	height: calc(100vh - 150px);
	border: 1px solid var(--colorPrimary);
	border-radius: 5px;
}

.grafo-toolbar {
	padding: 10px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.modal-dialog{
	max-width: none!important;
	max-height: none!important;
	margin: 0 0 0 0 !important; /* TOP RIGHT BOTTOM LEFT */
}

.tab-content {
	display: flex!important;
}

.modal-footer { 
	justify-content: left;
}

.botao {
	display: inline-block;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}