/* Permite melhor resolução de imagens geradas */
.html2canvas-container {
	width: 1200px !important; 
	height: 1200px !important; 
}

.grafo-panel {
	width: 100%;
	height: calc(100vh - 150px);
	border: 1px solid var(--colorPrimary);
	border-radius: 5px;
}

.grafo-toolbar {
	padding: 10px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.modal-footer{
	justify-content: flex-start!important;
}

.botao-ok {
	margin-left: auto!important;
}

.modal-dialog{
	max-width: 1200px!important;
}